<app-header></app-header>
<div class="contains">
<div class="body-title">
  <h3>Conheça o Sistema Clínica</h3>
</div>
<div class="body-flex">
<button class="body-btn-blue"><a routerLink="#">Video De Demostração</a></button>
<div class="body-text1">O Software de gestão mais completo para Clínicas de Fisioterapia, Studios de Pilates e Estética</div>
<div class="body-text1">Gerencie tudo em um só lugar</div>
<button class="body-btn-blue"><a routerLink="/Solicitar-Demostração">Demostração</a></button>
</div>
<div class="body-content">
</div>
<div class="body-content-text">

</div>
</div>
<app-footer></app-footer>

