<footer>
  <div class="container-foorter">
    <div class="row-footer">
      <div class="footer-col">
        <h4>Quem Somos</h4>
        <ul>
          <li><a href="">Conheça Nossa História</a></li>
          <li><a href="">Blog</a></li>
          <li><a href="">Contato</a></li>
          <li><a href="">Redes Sociais</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>Nossa Missão</h4>
        <ul>
          <li><a href="">Nosso Time</a></li>
          <li><a href="">Para Quem?</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>Clínica Ágil</h4>
        <ul>
          <li><a href="">Video de Apresentação</a></li>
          <li><a href="">Segurança dos Dados</a></li>
          <li><a href="">Aviso de Privacidade</a></li>
          <li><a href="">Termos de Uso</a></li>
        </ul>
      </div>
      <div class="medias-sociais">
       <h4>Redes Sociais</h4>
        <a href=""> <i class="fab fa-facebook-f"> </i></a>
        <a href=""> <i class="fab fa-twitter"> </i></a>
        <a href=""> <i class="fab fa-instagram"> </i></a>
        <a href=""> <i class="fab fa-linkedin-in"> </i></a>
      </div>

    </div>
  </div>
</footer>
