<app-header></app-header>
<form (ngSubmit)="submit()" [formGroup]="faleConoscoForm" #formDir="ngForm">
  <div class="form">
    <div class="form-box">
      <h1>FALE CONOSCO</h1>
      <div class="form-nome">
        <input type="text" placeholder="Nome" formControlName="nome" required>
        <div *ngIf="nome.errors?.['required'] && formDir.submitted" class="validation-error">
          <p>Digite seu Nome</p>
        </div>
      </div>
      <div class="form-email">
        <input type="text" placeholder="Email" formControlName="email" required>
        <div *ngIf="email.errors?.['email'] && formDir.submitted" class="validation-error-email">
          <p>Email invalido</p>
        </div>
      </div>
      <div class="form-numero">
        <input type="text" placeholder="Numero" formControlName="number" required>
        <div *ngIf="number.errors?.['required'] && formDir.submitted" class="validation-error">
          <p>Numero invalido</p>
      </div>
      </div>
      <div class="form-assunto">
        <textarea placeholder="Assunto" required></textarea>
      </div>
      <div class="form-entrar">
        <button class="form-voltar"><a routerLink="/">Voltar</a></button>
        <input type="submit" value="Enviar">
      </div>
    </div>
  </div>
</form>
<app-footer></app-footer>
