<app-header></app-header>
<div class="container">
  <div class="list-all-itens">
    <div class="list-item">
      <h3 class="list-title">Agenda</h3>
      <p>Agenda intuitiva integrada ao financeiro com controle de sessões, controle de faltas e reagendamentos dos
        pacientes, alertas financeiros de atrasos de pagamentos, agendamento online e muito mais! Controle tudo de
        forma
        prática e intuitiva direto pela agenda e separe suas agendas por profissional, salas ou especialidades.</p>
    </div>
    <div class="list-item">
      <h3 class="list-title">Financeiro</h3>
      <p>Controle financeiro intuitivo e completo integrado a agenda, com contas a pagar/receber, lançamentos,
        controle de
        fluxo de caixa, DRE gerencial, cobranças, extratos de contas, relatórios financeiros, notificações de
        lançamentos
        em atraso e muito mais!</p>
    </div>
    <div class="list-item">
      <h3 class="list-title">Prontuário Eletrônico</h3>
      <p>Registro de evoluções, avaliações customizáveis dentro do sistema conforme o seu modelo, declarações,
        prescrição
        e relatório fisioterapêutico. Abandone o papel e tenha tudo registrado online com segurança sendo acessível
        de
        qualquer lugar. Conte com acesso rápido aos dados dos pacientes a qualquer momento através da utilização de
        um
        prontuário eletrônico 100% online.</p>
    </div>
    <div class="list-item">
      <h3 class="list-title">Indicadores, Alertas e Relatórios</h3>
      <p>Informação em tempo real através dos indicadores de gestão, alertas inteligentes, relatórios gerenciais de
        atendimento, produção, agenda e muito mais. Gere relatórios de faltas e presenças dos pacientes, acompanhe
        os
        indicadores para tomada de decisões e saiba de onde estão vindo suas receitas.</p>
    </div>
    <div class="list-item">
      <h3 class="list-title">Lembretes aos Pacientes</h3>
      <p>Reduza em média 30% as faltas dos pacientes e alunos com o envio de lembretes dos atendimentos por
        WhatsApp,
        Email, SMS automatizados e envie também mensagens de aniversário automáticas.</p>
    </div>
    <div class="list-item">
      <h3 class="list-title">Comissões</h3>
      <p>Não perca mais tempo calculando comissões com planilhas! Gere relatórios de comissão aos funcionários a
        partir da
        agenda por sessão, tratamento, por aulas, mensalidades e sobre valores fixos. Facilitando o processo,
        trazendo
        praticidade para sua clínica e deixando você com mais tempo livre.</p>
    </div>
    <div class="list-item">
      <h3 class="list-title">TISS</h3>
      <p>Faturamento de lotes de convênios no padrão TISS. Evitando o trabalho de redigitação no site dos convênios
        e
        economizando seu tempo.</p>
    </div>
    <div class="list-item">
      <h3 class="list-title">Indicadores de Marketing</h3>
      <p>Conheça o seu canal de vendas mais eficiente, crie listas de e-mail segmentadas para envio de e-mail
        marketing e
        saiba onde investir para divulgações e de onde estão vindo seus pacientes através do gráfico de indicações
        da
        clínica.</p>
    </div>
    <div class="list-item">
      <h3 class="list-title">Pilates</h3>
      <p>Agendamento online (o próprio aluno confirma a presença/reagenda online de cf autônoma), controle de
        mensalidades, planejamento de aulas, evolução diária das sessões, controle de reposições de aulas, avaliação
        específica para pilates customizável, comissões por sessão dada ou mensalidade, controle de presença e muito
        mais
        funções específicas para pilates!</p>
    </div>
    <div class="list-item">
      <h3 class="list-title">Pesquisa de Satisfação</h3>
      <p>A pesquisa de satisfação é um indicador fundamental para entender como está sendo o atendimento da sua
        clínica e
        fazer análises de possíveis melhorias.</p>
    </div>
    <div class="list-item">
      <h3 class="list-title">Controle de Presença por Biometria</h3>
      <p>A biometria é a única tecnologia que pode garantir a verificação da identidade e traz praticidade nos
        agendamentos, controle de presenças e finalizações dos atendimentos através do leitor. Tenha mais
        praticidade nos
        atendimentos podendo finalizar consultas e ter o controle de presença e registro dos horários de chegadas
        dos
        pacientes através do leitor biométrico. A tecnologia da biometria permite garantir que a identidade dos
        pacientes
        seja verificada trazendo maior segurança.</p>
    </div>
    <div class="list-item">
      <h3 class="list-title">Estética</h3>
      <p>Controle de orçamentos, controle de pacotes vendidos/realizados, registro em prontuário específico de
        estética
        com peso, medidas, foto do antes e depois, contratos/termos automatizados.</p>
    </div>
  </div>
  <div class="btn-list">
    <button class="list-btn"><a routerLink="/Solicitar-Demostração">Demostração</a></button>
  </div>
</div>

<app-footer></app-footer>
