<app-header></app-header>
<div class="login">
  <div class="login-box">
    <h1>LOGIN</h1>
    <div class="login-email">
      <input type="text" placeholder="Email">
    </div>
    <div class="login-senha">
      <input type="password"  id="password" name="password" placeholder="Senha">
    </div>
    <div class="login-entrar">
      <p>Não tem uma conta para sua empresa?<a routerLink="/Solicitar-Demostração"> Contate-nos.</a></p>
      <div class="forgot-password"><a routerLink="/Esqueceu-a-Senha"> Esqueceu a senha?</a></div>
   <a routerLink="/Usuario"> <input type="submit" value="Entrar" ></a>
    </div>
  </div>
</div>
<app-footer></app-footer>
