<app-menu></app-menu>
<div class="container overflow-hidden text-center">
  <div class="row gy-5">
    <div class="col-6">
      <div class="p-5">
        <div class="card" style="width: 25rem;">
          <div class="card-body">
            <h5 class="card-title">AGENDA</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Proximos eventos: </h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="p-5">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">FINANCEIRO</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Proximos eventos: </h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="p-5">
        <div class="card" style="width: 25rem;">
          <div class="card-body">
            <h5 class="card-title">CLIENTES</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Clientes Recentes: </h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="p-5">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">PROCEDIMENTOS</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Recente: </h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
